*, *:before, *:after {
  box-sizing: border-box;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  overflow-y: scroll;
}

.navbar, #main {
  margin-right: 250px;
}
.navbar {
  margin-bottom: 0;
}
.fixedbar {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  width: 250px;
  height: 100%;
}

.moneybutton {
  position: absolute;
  top: 6px;
  left: 111px;
  color: #CEDB01;
  font-size: 2em;
  cursor: pointer;
}
.info {
  margin-top: 42px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
}
.progress {
  margin-top: 10px;
  margin-bottom: 10px;
}
.goldbar {
  background-color: #CEDB01;
}
.lumberbar {
  background-color: #987748;
}
.stats {
  margin-top: 50px;
}
#modals {
  position: absolute;
}
.gold {
  position: absolute;
  top: -30px;
  color: #E8E770;
  font-size: 1.4em;
  white-space: nowrap;
}

.section {
  margin-top: 10px;
}
#log {
  width: 100%;
  height: 250px;
  font-size: 0.9em;
  padding: 5px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}
.loggood {
  color: #01A84F;
}
.logmoney {
  color: #CEDB01;
}
.logsentry {
  color: #96A3C3;
}
.logwarning {
  color: #FF0000;
}

.optionList {
  overflow: auto;
  zoom: 1;
}
.option {
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
  background-color: #fafafa;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in 0s;
    -moz-transition: all 500ms ease-in 0s;
    -o-transition: all 500ms ease-in 0s;
    transition: all 500ms ease-in 0s;
}
.option:hover {
  border: 1px solid #000;
  background-color: #fff;
}
.action {
  margin: 0 auto;
  float: none;
}
.title {
  font-size: 1.1em;
  font-weight: bold;
}
.description {
  font-size: 0.9em;
}
.cost {
  font-size: 0.9em;
  font-style: italic;
}