<div class="jumbotron text-center">
	<h1>{{ title }}</h1>
	
	<p>{{ message }}</p>

	<hr>
	Consumables & Equipment
	<div class="optionList">
		<div class="option" ng-click="purchase('mangoTangos')">
			<div class="title">
				{{mangoTangos.name}}
			</div>
			<div class="description">
				{{mangoTangos.description}}
			</div>
			<div class="cost">
				{{mangoTangos.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('boots')">
			<div class="title">
				{{boots.name}}
			</div>
			<div class="description">
				{{boots.description}}
			</div>
			<div ng-hide="boots.purchased" class="cost">
				{{boots.goldcost}}g
			</div>
			<div ng-show="boots.purchased" class="cost">
				Purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('shadowBlade')">
			<div class="title">
				{{shadowBlade.name}}
			</div>
			<div class="description">
				{{shadowBlade.description}}
			</div>
			<div ng-hide="shadowBlade.purchased" class="cost">
				{{shadowBlade.goldcost}}g
			</div>
			<div ng-show="shadowBlade.purchased" class="cost">
				Purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('quellingBlade')">
			<div class="title">
				{{quellingBlade.name}}
			</div>
			<div class="description">
				{{quellingBlade.description}}
			</div>
			<div ng-hide="quellingBlade.purchased" class="cost">
				{{quellingBlade.goldcost}}g
			</div>
			<div ng-show="quellingBlade.purchased" class="cost">
				Purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('pointBooster')">
			<div class="title">
				{{pointBooster.name}}
			</div>
			<div class="description">
				{{pointBooster.description}}
			</div>
			<div class="cost">
				{{pointBooster.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('ogreClub')">
			<div class="title">
				{{ogreClub.name}}
			</div>
			<div class="description">
				{{ogreClub.description}}
			</div>
			<div class="cost">
				{{ogreClub.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('bladeOfAlacrity')">
			<div class="title">
				{{bladeOfAlacrity.name}}
			</div>
			<div class="description">
				{{bladeOfAlacrity.description}}
			</div>
			<div class="cost">
				{{bladeOfAlacrity.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('staffOfWizardry')">
			<div class="title">
				{{staffOfWizardry.name}}
			</div>
			<div class="description">
				{{staffOfWizardry.description}}
			</div>
			<div class="cost">
				{{staffOfWizardry.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('handOfMidas')">
			<div class="title">
				{{handOfMidas.name}}
			</div>
			<div class="description">
				{{handOfMidas.description}}
			</div>
			<div class="cost">
				{{handOfMidas.goldcost}}g
			</div>
		</div>
	</div>

	<hr>
	Recipes
	<div class="optionList">
		<div class="option" ng-click="purchase('floweringTreants')">
			<div class="title">
				{{floweringTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{floweringTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="floweringTreants.goldcost">
					{{floweringTreants.goldcost}}g
				</div>
				<div ng-hide="floweringTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('deadwoodTreants')" ng-show="floweringTreants.recipe">
			<div class="title">
				{{deadwoodTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{deadwoodTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="deadwoodTreants.goldcost">
					{{deadwoodTreants.goldcost}}g
				</div>
				<div ng-hide="deadwoodTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('shroomlingTreants')" ng-show="deadwoodTreants.recipe">
			<div class="title">
				{{shroomlingTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{shroomlingTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="shroomlingTreants.goldcost">
					{{shroomlingTreants.goldcost}}g
				</div>
				<div ng-hide="shroomlingTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('evergreenTreants')" ng-show="shroomlingTreants.recipe">
			<div class="title">
				{{evergreenTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{evergreenTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="evergreenTreants.goldcost">
					{{evergreenTreants.goldcost}}g
				</div>
				<div ng-hide="evergreenTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('pumpkinTreants')" ng-show="evergreenTreants.recipe">
			<div class="title">
				{{pumpkinTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{pumpkinTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="pumpkinTreants.goldcost">
					{{pumpkinTreants.goldcost}}g
				</div>
				<div ng-hide="pumpkinTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('shroomthingTreants')" ng-show="pumpkinTreants.recipe">
			<div class="title">
				{{shroomthingTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{shroomthingTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="shroomthingTreants.goldcost">
					{{shroomthingTreants.goldcost}}g
				</div>
				<div ng-hide="shroomthingTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('bonsaikoTreants')" ng-show="shroomthingTreants.recipe">
			<div class="title">
				{{bonsaikoTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{bonsaikoTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="bonsaikoTreants.goldcost">
					{{bonsaikoTreants.goldcost}}g
				</div>
				<div ng-hide="bonsaikoTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('primevalTreants')" ng-show="bonsaikoTreants.recipe">
			<div class="title">
				{{primevalTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{primevalTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="primevalTreants.goldcost">
					{{primevalTreants.goldcost}}g
				</div>
				<div ng-hide="primevalTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('lotusTreants')" ng-show="primevalTreants.recipe">
			<div class="title">
				{{lotusTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{lotusTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="lotusTreants.goldcost">
					{{lotusTreants.goldcost}}g
				</div>
				<div ng-hide="lotusTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
	</div>

	<!-- Upgrades
	<div class="optionList">
		<div class="option" ng-click="">
			<div class="title">
				Beard
			</div>
			<div class="description">
				Upgrade Your Beard
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Horn
			</div>
			<div class="description">
				Upgrade Your Horn
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Staff
			</div>
			<div class="description">
				Upgrade Your Staff
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Sunglasses
			</div>
			<div class="description">
				Upgrade Your Sunglasses
				Rayban, Wayfarers
			</div>
		</div>
	</div>
	-->
	
</div>