<div class="jumbotron text-center">
	<h1>{{ title }}</h1>
	
	<p>{{ message }}</p>

	Consumables & Equipment
	<div class="optionList">
		<div class="option" ng-click="purchase('mangoTangos')">
			<div class="title">
				{{mangoTangos.name}}
			</div>
			<div class="description">
				{{mangoTangos.description}}
			</div>
			<div class="cost">
				{{mangoTangos.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('boots')">
			<div class="title">
				{{boots.name}}
			</div>
			<div class="description">
				{{boots.description}}
			</div>
			<div ng-hide="boots.purchased" class="cost">
				{{boots.goldcost}}g
			</div>
			<div ng-show="boots.purchased" class="cost">
				Purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('shadowBlade')">
			<div class="title">
				{{shadowBlade.name}}
			</div>
			<div class="description">
				{{shadowBlade.name}}
			</div>
			<div ng-hide="shadowBlade.purchased" class="cost">
				{{shadowBlade.goldcost}}g
			</div>
			<div ng-show="shadowBlade.purchased" class="cost">
				Purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('quellingBlade')">
			<div class="title">
				{{quellingBlade.name}}
			</div>
			<div class="description">
				{{quellingBlade.name}}
			</div>
			<div ng-hide="quellingBlade.purchased" class="cost">
				{{quellingBlade.goldcost}}g
			</div>
			<div ng-show="quellingBlade.purchased" class="cost">
				Purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('pointBooster')">
			<div class="title">
				{{pointBooster.name}}
			</div>
			<div class="description">
				{{pointBooster.description}}
			</div>
			<div class="cost">
				{{pointBooster.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('ogreClub')">
			<div class="title">
				{{ogreClub.name}}
			</div>
			<div class="description">
				{{ogreClub.description}}
			</div>
			<div class="cost">
				{{ogreClub.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('bladeOfAlacrity')">
			<div class="title">
				{{bladeOfAlacrity.name}}
			</div>
			<div class="description">
				{{bladeOfAlacrity.description}}
			</div>
			<div class="cost">
				{{bladeOfAlacrity.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('staffOfWizardry')">
			<div class="title">
				{{staffOfWizardry.name}}
			</div>
			<div class="description">
				{{staffOfWizardry.description}}
			</div>
			<div class="cost">
				{{staffOfWizardry.goldcost}}g
			</div>
		</div>
		<div class="option" ng-click="purchase('handOfMidas')">
			<div class="title">
				{{handOfMidas.name}}
			</div>
			<div class="description">
				{{handOfMidas.description}}
			</div>
			<div class="cost">
				{{handOfMidas.goldcost}}g
			</div>
		</div>
	</div>

	Recipes
	<div class="optionList">
		<div class="option" ng-click="purchase('floweringTreants')">
			<div class="title">
				{{floweringTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{floweringTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="floweringTreants.goldcost">
					{{floweringTreants.goldcost}}g
				</div>
				<div ng-hide="floweringTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('deadwoodTreants')" ng-show="floweringTreants.recipe">
			<div class="title">
				{{deadwoodTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{deadwoodTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="deadwoodTreants.goldcost">
					{{deadwoodTreants.goldcost}}g
				</div>
				<div ng-hide="deadwoodTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('evergreenTreants')" ng-show="deadwoodTreants.recipe">
			<div class="title">
				{{evergreenTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{evergreenTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="evergreenTreants.goldcost">
					{{evergreenTreants.goldcost}}g
				</div>
				<div ng-hide="evergreenTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('pumpkinTreants')" ng-show="evergreenTreants.recipe">
			<div class="title">
				{{pumpkinTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{pumpkinTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="pumpkinTreants.goldcost">
					{{pumpkinTreants.goldcost}}g
				</div>
				<div ng-hide="pumpkinTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('shroomlingTreants')" ng-show="pumpkinTreants.recipe">
			<div class="title">
				{{shroomlingTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{shroomlingTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="shroomlingTreants.goldcost">
					{{shroomlingTreants.goldcost}}g
				</div>
				<div ng-hide="shroomlingTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('shroomthingTreants')" ng-show="shroomlingTreants.recipe">
			<div class="title">
				{{shroomthingTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{shroomthingTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="shroomthingTreants.goldcost">
					{{shroomthingTreants.goldcost}}g
				</div>
				<div ng-hide="shroomthingTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('bonsaikoTreants')" ng-show="shroomthingTreants.recipe">
			<div class="title">
				{{bonsaikoTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{bonsaikoTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="bonsaikoTreants.goldcost">
					{{bonsaikoTreants.goldcost}}g
				</div>
				<div ng-hide="bonsaikoTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('primevalTreants')" ng-show="bonsaikoTreants.recipe">
			<div class="title">
				{{primevalTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{primevalTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="primevalTreants.goldcost">
					{{primevalTreants.goldcost}}g
				</div>
				<div ng-hide="primevalTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
		<div class="option" ng-click="purchase('lotusTreants')" ng-show="primevalTreants.recipe">
			<div class="title">
				{{lotusTreants.name}} Recipe
			</div>
			<div class="description">
				Sprout {{lotusTreants.name}}s
			</div>
			<div class="cost">
				<div ng-show="lotusTreants.goldcost">
					{{lotusTreants.goldcost}}g
				</div>
				<div ng-hide="lotusTreants.goldcost">
					Purchased
				</div>
			</div>
		</div>
	</div>

	<!-- Upgrades
	<div class="optionList">
		<div class="option" ng-click="">
			<div class="title">
				Beard
			</div>
			<div class="description">
				Upgrade Your Beard
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Horn
			</div>
			<div class="description">
				Upgrade Your Horn
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Staff
			</div>
			<div class="description">
				Upgrade Your Staff
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Sunglasses
			</div>
			<div class="description">
				Upgrade Your Sunglasses
				Rayban, Wayfarers
			</div>
		</div>
	</div>

	Skills
	<div class="optionList">
		<div class="option" ng-click="">
			<div class="title">
				Greevil's Greed
			</div>
			<div class="description">
				Consecutive Last Hits grant bonus bounty
			</div>
			<div class="cost">
				1 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Backstab
			</div>
			<div class="description">
				Gain gold whenever one of your treants is killed
			</div>
			<div class="cost">
				3 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Berserker's Call
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Black Hole
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chakra Magic
			</div>
			<div class="description">
				Restores 75 mana once every minute
			</div>
			<div class="cost">
				1 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Essence Aura
			</div>
			<div class="description">
				10% chance to not use any mana when summoning
			</div>
			<div class="cost">
				5 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chaos Meatball
			</div>
			<div class="description">

			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Backtrack
			</div>
			<div class="description">
				Rolls 7 die. If RNGesus gain 1,000,000g
			</div>
			<div class="cost">
				7 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chronosphere
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Coup de Grace
			</div>
			<div class="description">
				15% chance to crit for 4x
			</div>
			<div class="cost">
				20 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Culling Blade
			</div>
			<div class="description">
				Chance to instant kill creep when under 10% hp
			</div>
			<div class="cost">
				15 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Divided We Stand
			</div>
			<div class="description">
				Double all of your current treants
			</div>
			<div class="cost">
				125 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Doom
			</div>
			<div class="description">
				Randomly destroy one type of invader to never appear again
			</div>
			<div class="cost">
				666,000g
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Dream Coil
			</div>
			<div class="description">
			</div>
			<div class="cost">
				1,000,000g
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chaos Dunk
			</div>
			<div class="description">
			</div>
			<div class="cost">
				50 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Finger
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Focus Fire
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				God's Strength
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Guardian Angel
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Pudge Hook
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Dragonclaw Hook
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Living Armor
			</div>
			<div class="description">
				Prevent 50% of Treants from dying when Timbersaw attacks
			</div>
			<div class="cost">
				10 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Omnislash
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Overgrowth
			</div>
			<div class="description">
				Double the effectiveness of your Treants
			</div>
			<div class="cost">
				25 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Permanent Invisibility
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Phase Shift
			</div>
			<div class="description">
				Ignore one random encounter per hour
			</div>
			<div class="cost">
				10 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Ravage
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Rearm
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Remote Mines
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Necromastery
			</div>
			<div class="description">
				Defeated creeps grant bonus damage
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Sacred Mango
			</div>
			<div class="description">
				Play the Sacred Mango skillshot minigame
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Sadist
			</div>
			<div class="description">
				View a sexy picture of Necrolyte
			</div>
			<div class="cost">
				666 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Spell Shield
			</div>
			<div class="description">
				Reduce negative debuffs by 50%
			</div>
			<div class="cost">
				5 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Zeus Ult
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Tombstone
			</div>
			<div class="description">
				Increases DoT damage when enemy health low
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Multicast
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Assassinate
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
	</div>

	Heroes
	<div class="optionList">
		<div class="option" ng-click="">
			<div class="title">
				Alchemist
			</div>
			<div class="description">
				Farms you 1 Aghanim's Scepter per hour
			</div>
			<div class="cost">
				50 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Mario
			</div>
			<div class="description">
				[?] box to farm extra gold
			</div>
			<div class="cost">
				50 Aghs
			</div>
		</div>
	</div> -->

	<!-- Sunglasses: reduce the glare of all the gold shining back at you -->
	<!-- Item Cost - 20% -->
	<!-- Farm Speed x 2 -->
</div>