<div class="jumbotron text-center">
	<h1>{{ title }}</h1>
	
	<p>{{ message }}</p>

	Consumables & Equipment
	<div class="optionList">
		<div class="option" ng-click="purchase('Mango Tangos', 125)">
			<div class="title">
				Mango Tangos
			</div>
			<div class="description">
				Restore 150 MP
			</div>
			<div class="cost">
				150g
			</div>
		</div>
		<div class="option" ng-click="purchase('Boots', 420)">
			<div class="title">
				Boots
			</div>
			<div class="description">
				Auto Spawn Creeps
			</div>
			<div ng-hide="boots" class="cost">
				420g
			</div>
			<div ng-show="boots" class="cost">
				purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('Shadow Blade', 2800)">
			<div class="title">
				Shadow Blade
			</div>
			<div class="description">
				First Hit Criticals
			</div>
			<div ng-hide="lothars" class="cost">
				2800g
			</div>
			<div ng-show="lothars" class="cost">
				purchased
			</div>
		</div>
		<div class="option" ng-click="purchase('Hand of Midas', 1500)">
			<div class="title">
				Hand of Midas
			</div>
			<div class="description">
				Passive Gold + 5
			</div>
			<div class="cost">
				1500g
			</div>
		</div>
		<div class="option" ng-click="purchase('Pointer Booster', 1200)">
			<div class="title">
				Pointer Booster
			</div>
			<div class="description">
				Max MP + 150
			</div>
			<div class="cost">
				1200g
			</div>
		</div>
		<div class="option" ng-click="purchase('Ogre Club', 1000)">
			<div class="title">
				Ogre Club
			</div>
			<div class="description">
				Base Damage + 10
			</div>
			<div class="cost">
				1000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Blade of Alacrity', 1000)">
			<div class="title">
				Blade of Alacrity
			</div>
			<div class="description">
				Variance Damage + 12
			</div>
			<div class="cost">
				1000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Staff of Wizardry', 1000)">
			<div class="title">
				Staff of Wizardry
			</div>
			<div class="description">
				MP Regen + 2
			</div>
			<div class="cost">
				1000g
			</div>
		</div>
	</div>

	Recipes
	<div class="optionList">
		<div class="option" ng-click="purchase('Flowering Treant Recipe', 10000)">
			<div class="title">
				Flowering Treant Recipe
			</div>
			<div class="description">
				Sprout Flowering Treants
			</div>
			<div class="cost">
				10000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Deadwood Recipe', 100000)">
			<div class="title">
				Deadwood Recipe
			</div>
			<div class="description">
				Sprout Deadwood Treants
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Evergreen Stalker Recipe', 100000)">
			<div class="title">
				Evergreen Stalker Recipe
			</div>
			<div class="description">
				Sprout Evergreen Stalkers
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Hallowed Pumpkins Recipe', 100000)">
			<div class="title">
				Hallowed Pumpkins Recipe
			</div>
			<div class="description">
				Sprout Hallowed Pumpkins
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Shroomling Recipe', 100000)">
			<div class="title">
				Shroomling Recipe
			</div>
			<div class="description">
				Sprout Shroomlings
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Shroom Thing Recipe', 100000)">
			<div class="title">
				Shroom Thing Recipe
			</div>
			<div class="description">
				Sprout Shroom Things
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Bonsaiko Recipe', 100000)">
			<div class="title">
				Bonsaiko Recipe
			</div>
			<div class="description">
				Sprout Bonsaiko Treants
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Primeval Recipe', 100000)">
			<div class="title">
				Primeval Treant Recipe
			</div>
			<div class="description">
				Sprout Primeval Treants
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
		<div class="option" ng-click="purchase('Living Lotus Recipe', 100000)">
			<div class="title">
				Living Lotus Recipe
			</div>
			<div class="description">
				Sprout Living Lotus Treants
			</div>
			<div class="cost">
				100000g
			</div>
		</div>
	</div>

	Upgrades
	<div class="optionList">
		<div class="option" ng-click="">
			<div class="title">
				Beard
			</div>
			<div class="description">
				Upgrade Your Beard
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Horn
			</div>
			<div class="description">
				Upgrade Your Horn
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Staff
			</div>
			<div class="description">
				Upgrade Your Staff
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Sunglasses
			</div>
			<div class="description">
				Upgrade Your Sunglasses
				<!-- Rayban, Wayfarers -->
			</div>
		</div>
	</div>

	Skills
	<div class="optionList">
		<div class="option" ng-click="">
			<div class="title">
				Greevil's Greed
			</div>
			<div class="description">
				Consecutive Last Hits grant bonus bounty
			</div>
			<div class="cost">
				1 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Backstab
			</div>
			<div class="description">
				Gain gold whenever one of your treants is killed
			</div>
			<div class="cost">
				3 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Berserker's Call
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Black Hole
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chakra Magic
			</div>
			<div class="description">
				Restores 75 mana once every minute
			</div>
			<div class="cost">
				1 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Essence Aura
			</div>
			<div class="description">
				10% chance to not use any mana when summoning
			</div>
			<div class="cost">
				5 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chaos Meatball
			</div>
			<div class="description">

			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Backtrack
			</div>
			<div class="description">
				Rolls 7 die. If RNGesus gain 1,000,000g
			</div>
			<div class="cost">
				7 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chronosphere
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Coup de Grace
			</div>
			<div class="description">
				15% chance to crit for 4x
			</div>
			<div class="cost">
				20 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Culling Blade
			</div>
			<div class="description">
				Chance to instant kill creep when under 10% hp
			</div>
			<div class="cost">
				15 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Divided We Stand
			</div>
			<div class="description">
				Double all of your current treants
			</div>
			<div class="cost">
				125 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Doom
			</div>
			<div class="description">
				Randomly destroy one type of invader to never appear again
			</div>
			<div class="cost">
				666,000g
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Dream Coil
			</div>
			<div class="description">
			</div>
			<div class="cost">
				1,000,000g
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Chaos Dunk
			</div>
			<div class="description">
			</div>
			<div class="cost">
				50 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Finger
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Focus Fire
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				God's Strength
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Guardian Angel
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Pudge Hook
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Dragonclaw Hook
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Living Armor
			</div>
			<div class="description">
				Prevent 50% of Treants from dying when Timbersaw attacks
			</div>
			<div class="cost">
				10 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Omnislash
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Overgrowth
			</div>
			<div class="description">
				Double the effectiveness of your Treants
			</div>
			<div class="cost">
				25 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Permanent Invisibility
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Phase Shift
			</div>
			<div class="description">
				Ignore one random encounter per hour
			</div>
			<div class="cost">
				10 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Ravage
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Rearm
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Remote Mines
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Necromastery
			</div>
			<div class="description">
				Defeated creeps grant bonus damage
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Sacred Mango
			</div>
			<div class="description">
				Play the Sacred Mango skillshot minigame
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Sadist
			</div>
			<div class="description">
				View a sexy picture of Necrolyte
			</div>
			<div class="cost">
				666 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Spell Shield
			</div>
			<div class="description">
				Reduce negative debuffs by 50%
			</div>
			<div class="cost">
				5 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Zeus Ult
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Tombstone
			</div>
			<div class="description">
				Increases DoT damage when enemy health low
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Multicast
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Assassinate
			</div>
			<div class="description">
			</div>
			<div class="cost">
			</div>
		</div>
	</div>

	Heroes
	<div class="optionList">
		<div class="option" ng-click="">
			<div class="title">
				Alchemist
			</div>
			<div class="description">
				Farms you 1 Aghanim's Scepter per hour
			</div>
			<div class="cost">
				50 Aghs
			</div>
		</div>
		<div class="option" ng-click="">
			<div class="title">
				Mario
			</div>
			<div class="description">
				[?] box to farm extra gold
			</div>
			<div class="cost">
				50 Aghs
			</div>
		</div>
	</div>


	<p>
		{{ msglog }}
	</p>

	<!-- Sunglasses: reduce the glare of all the gold shining back at you -->
	<!-- Item Cost - 20% -->
	<!-- Farm Speed x 2 -->
</div>