<div class="jumbotron text-center">
	<h1>{{ title }}</h1>
	
	<p>
		{{ message }}
	</p>

	Nature's Call
	<div class="optionList">
		<div class="option" ng-click="cast('farmingTreants')">
			<div class="title">
				{{farmingTreants.name}}
			</div>
			<div class="description">
				{{farmingTreants.description}}
			</div>
			<div class="cost">
				{{farmingTreants.mpcost}}MP
			</div>
		</div>
		<div class="option" ng-click="cast('combatTreants')">
			<div class="title">
				{{combatTreants.name}}
			</div>
			<div class="description">
				{{combatTreants.description}}
			</div>
			<div class="cost">
				{{combatTreants.mpcost}}MP
			</div>
		</div>
		<div class="option" ng-click="cast('floweringTreants')" ng-show="floweringTreants.recipe">
			<div class="title">
				{{floweringTreants.name}}
			</div>
			<div class="description">
				{{floweringTreants.description}}
			</div>
			<div class="cost">
				{{floweringTreants.mpcost}}MP
			</div>
		</div>
		<div class="option" ng-click="cast('deadwoodTreants')" ng-show="deadwoodTreants.recipe">
			<div class="title">
				{{deadwoodTreants.name}}
			</div>
			<div class="description">
				{{deadwoodTreants.description}}
			</div>
			<div class="cost">
				{{deadwoodTreants.mpcost}}MP
			</div>
		</div>
		<div class="option" ng-click="cast('evergreenTreants')" ng-show="evergreenTreants.recipe">
			<div class="title">
				{{evergreenTreants.name}}
			</div>
			<div class="description">
				{{evergreenTreants.description}}
			</div>
			<div class="cost">
				{{evergreenTreants.mpcost}}MP
			</div>
		</div>
		<div class="option" ng-click="cast('pumpkinTreants')" ng-show="pumpkinTreants.recipe">
			<div class="title">
				{{pumpkinTreants.name}}
			</div>
			<div class="description">
				{{pumpkinTreants.description}}
			</div>
			<div class="cost">
				{{pumpkinTreants.mpcost}}MP
			</div>
		</div>
		<div class="option" ng-click="cast('shroomlingTreants')" ng-show="shroomlingTreants.recipe">
			<div class="title">
				{{shroomlingTreants.name}}
			</div>
			<div class="description">
				{{shroomlingTreants.description}}
			</div>
			<div class="cost">
				{{shroomlingTreants.mpcost}}MP
			</div>
		</div>
	</div>

	Skills
	<div class="optionList">
		<div class="option" ng-click="cast('wrathOfNature')">
			<div class="title">
				{{wrathOfNature.name}}
			</div>
			<div class="description">
				{{wrathOfNature.description}}
			</div>
			<div class="cost">
				80% Max MP
			</div>
		</div>
	</div>
</div>