<div class="jumbotron text-center">
	<h1>{{ title }}</h1>
	
	<p>
		{{ message }}
	</p>

	<hr>
	Nature's Call
	<div class="optionList">
		<div class="option" ng-click="cast('farmingTreants')">
			<div class="title">
				{{farmingTreants.name}}
			</div>
			<div class="description">
				{{farmingTreants.description}}
			</div>
			<div class="cost">
				{{farmingTreants.mpcost}}MP
			</div>
			<div class="progress" title="{{farmingTreants.count}}/{{farmingTreants.count}}">
	          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{farmingTreants.count}}" style="width:{{((farmingTreants.count-farmingTreants.dead)/farmingTreants.count*100)}}%">
	            {{farmingTreants.count-farmingTreants.dead}}/{{farmingTreants.count}}
	          </div>
	        </div>
		</div>
		<div class="option" ng-click="cast('combatTreants')">
			<div class="title">
				{{combatTreants.name}}
			</div>
			<div class="description">
				{{combatTreants.description}}
			</div>
			<div class="cost">
				{{combatTreants.mpcost}}MP
			</div>
			<div class="progress" title="{{combatTreants.count}}/{{combatTreants.count}}">
	          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{combatTreants.count}}" style="width:{{((combatTreants.count-combatTreants.dead)/combatTreants.count*100)}}%">
	            {{combatTreants.count-combatTreants.dead}}/{{combatTreants.count}}
	          </div>
	        </div>
		</div>
		<div class="option" ng-click="cast('floweringTreants')" ng-show="floweringTreants.recipe">
			<div class="title">
				{{floweringTreants.name}}
			</div>
			<div class="description">
				{{floweringTreants.description}}
			</div>
			<div class="cost">
				{{floweringTreants.mpcost}}MP
			</div>
			<div class="progress" title="{{floweringTreants.count}}/{{floweringTreants.count}}">
	          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{floweringTreants.count}}" style="width:{{((floweringTreants.count-floweringTreants.dead)/floweringTreants.count*100)}}%">
	            {{floweringTreants.count-floweringTreants.dead}}/{{floweringTreants.count}}
	          </div>
	        </div>
		</div>
		<div class="option" ng-click="cast('deadwoodTreants')" ng-show="deadwoodTreants.recipe">
			<div class="title">
				{{deadwoodTreants.name}}
			</div>
			<div class="description">
				{{deadwoodTreants.description}}
			</div>
			<div class="cost">
				{{deadwoodTreants.mpcost}}MP
			</div>
			<div class="progress" title="{{deadwoodTreants.count}}/{{deadwoodTreants.count}}">
	          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{deadwoodTreants.count}}" style="width:{{((deadwoodTreants.count-deadwoodTreants.dead)/deadwoodTreants.count*100)}}%">
	            {{deadwoodTreants.count-deadwoodTreants.dead}}/{{deadwoodTreants.count}}
	          </div>
	        </div>
		</div>
		<div class="option" ng-click="cast('shroomlingTreants')" ng-show="shroomlingTreants.recipe">
			<div class="title">
				{{shroomlingTreants.name}}
			</div>
			<div class="description">
				{{shroomlingTreants.description}}
			</div>
			<div class="cost">
				{{shroomlingTreants.mpcost}}MP
			</div>
			<div class="progress" title="{{shroomlingTreants.count}}/{{shroomlingTreants.count}}">
	          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{shroomlingTreants.count}}" style="width:{{((shroomlingTreants.count-shroomlingTreants.dead)/shroomlingTreants.count*100)}}%">
	            {{shroomlingTreants.count-shroomlingTreants.dead}}/{{shroomlingTreants.count}}
	          </div>
	        </div>
		</div>
		<div class="option" ng-click="cast('evergreenTreants')" ng-show="evergreenTreants.recipe">
			<div class="title">
				{{evergreenTreants.name}}
			</div>
			<div class="description">
				{{evergreenTreants.description}}
			</div>
			<div class="cost">
				{{evergreenTreants.mpcost}}MP
			</div>
			<div class="progress" title="{{evergreenTreants.count}}/{{evergreenTreants.count}}">
	          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{evergreenTreants.count}}" style="width:{{((evergreenTreants.count-evergreenTreants.dead)/evergreenTreants.count*100)}}%">
	            {{evergreenTreants.count-evergreenTreants.dead}}/{{evergreenTreants.count}}
	          </div>
	        </div>
		</div>
		<div class="option" ng-click="cast('pumpkinTreants')" ng-show="pumpkinTreants.recipe">
			<div class="title">
				{{pumpkinTreants.name}}
			</div>
			<div class="description">
				{{pumpkinTreants.description}}
			</div>
			<div class="cost">
				{{pumpkinTreants.mpcost}}MP
			</div>
			<div class="progress" title="{{pumpkinTreants.count}}/{{pumpkinTreants.count}}">
	          <div class="progress-bar progress-bar-striped active progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="{{pumpkinTreants.count}}" style="width:{{((pumpkinTreants.count-pumpkinTreants.dead)/pumpkinTreants.count*100)}}%">
	            {{pumpkinTreants.count-pumpkinTreants.dead}}/{{pumpkinTreants.count}}
	          </div>
	        </div>
		</div>
	</div>

	<hr>
	Skills
	<div class="optionList">
		<div class="option" ng-click="cast('wrathOfNature')">
			<div class="title">
				{{wrathOfNature.name}}
			</div>
			<div class="description">
				{{wrathOfNature.description}}
			</div>
			<div class="cost">
				80% Max MP
			</div>
		</div>
	</div>


	<hr>
	Passives
	<div class="optionList">
	</div>
</div>